In [155]:
# Import the required libraries
from faker import Faker
from pymongo import MongoClient
import pandas as pd
import math

In [156]:
# connect to Mongodb client
client = MongoClient("mongodb://admin:password123@localhost:27017/")

In [157]:
# List database names -- optional only for testing
client.list_database_names()

['admin', 'config', 'ecommerce_db', 'local']

In [158]:
client.ecommerce_db.list_collection_names()

['test_customers', 'test_products']

In [159]:
#client.ecommerce_db.drop_collection('products')

In [160]:
# Access the database
db=client.ecommerce_db

In [161]:
# Access the collection
collection=db.products

In [162]:
# Create Indexes
collection.create_index('product_id', unique=True)
collection.create_index('brand')
collection.create_index('launch_date')
collection.create_index([('category'),('subcategory')])

'category_1_subcategory_1'

In [163]:
fake = Faker()

In [164]:
# Read the csv
df=pd.read_csv('../ecommerce_products.csv')

In [165]:
# Create a new df to copy the original df and modify prices
df2=df.copy()

In [166]:
# Make all the prices end with .99
df2['price']=df2['price'].map(lambda x: math.floor(x)+0.99)

In [167]:
df2

,product_id,product_name,category,subcategory,brand,cost_price,price,current_stock,reorder_level
0,PROD00001,Atomic Habits,Books,Non-Fiction,Random House,40.23,73.99,80,25
1,PROD00002,Area Rug,Home & Garden,Home Decor,Stanley,207.56,357.99,300,100
2,PROD00003,Camping Stove,Sports,Outdoor Sports,Nike,183.60,336.99,300,150
3,PROD00004,Cricket Bat,Sports,Team Sports,Wilson,795.84,1440.99,200,100
4,PROD00005,Resistance Bands,Sports,Fitness & Gym Equipment,Spalding,55.74,80.99,300,50
...,...,...,...,...,...,...,...,...,...
995,PROD00996,Area Rug,Home & Garden,Home Decor,Home Depot,158.27,287.99,300,100
996,PROD00997,Graphic T-Shirt,Clothing,Shirts & Tops,H&M,27.78,53.99,300,30
997,PROD00998,Sofa Set,Home & Garden,Furniture,Ashley Furniture,600.18,967.99,100,150
998,PROD00999,The Great Gatsby,Books,Fiction,Simon & Schuster,28.25,43.99,90,50
999,PROD01000,The Great Gatsby,Books,Fiction,HarperCollins,28.22,53.99,100,20

In [168]:
# Shape of the Dataframe
num_of_columns=df2.shape[1]
num_of_rows=df2.shape[0]

In [169]:
df2['current_stock']=df2['current_stock'] * 1000
df2['reorder_level']=df2['reorder_level']*10

In [170]:
df2

,product_id,product_name,category,subcategory,brand,cost_price,price,current_stock,reorder_level
0,PROD00001,Atomic Habits,Books,Non-Fiction,Random House,40.23,73.99,80000,250
1,PROD00002,Area Rug,Home & Garden,Home Decor,Stanley,207.56,357.99,300000,1000
2,PROD00003,Camping Stove,Sports,Outdoor Sports,Nike,183.60,336.99,300000,1500
3,PROD00004,Cricket Bat,Sports,Team Sports,Wilson,795.84,1440.99,200000,1000
4,PROD00005,Resistance Bands,Sports,Fitness & Gym Equipment,Spalding,55.74,80.99,300000,500
...,...,...,...,...,...,...,...,...,...
995,PROD00996,Area Rug,Home & Garden,Home Decor,Home Depot,158.27,287.99,300000,1000
996,PROD00997,Graphic T-Shirt,Clothing,Shirts & Tops,H&M,27.78,53.99,300000,300
997,PROD00998,Sofa Set,Home & Garden,Furniture,Ashley Furniture,600.18,967.99,100000,1500
998,PROD00999,The Great Gatsby,Books,Fiction,Simon & Schuster,28.25,43.99,90000,500
999,PROD01000,The Great Gatsby,Books,Fiction,HarperCollins,28.22,53.99,100000,200

In [171]:
# Generate launch date for each product using faker
launch_date=[str(fake.date_between(start_date='-6y',end_date='-4y')) for x in range(num_of_rows)]

In [172]:
# Insert the launch date column
df2.insert(num_of_columns,'launch_date',launch_date)

In [173]:
# Convert the rows in the dataframe to dictionary
records=df2.to_dict(orient='records')

In [174]:
# Insert the records to the products collection
if collection.count_documents({})>=0 and collection.count_documents({})<1000:
    for record in records:
        collection.insert_one(record)
    print('Inserted ',len(records),' records successfully!')
elif collection.count_documents({})>=1000:
    print('Cannot add anymore products')

Inserted  1000  records successfully!